@import "../../index.scss";

.contact {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    margin-top: 3rem;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(253, 244, 233);
    padding: 1rem;
    border-radius: 0.5rem;
  }
}

input,
select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submitbtn {
  background-color: $main-btn-color;
  color: white;
  border: none;
  border-radius: 0.5rem;
  width: 120px;
  height: 3rem;
  margin: auto;
  margin-top: 1rem;
}
